body {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

input,
textarea,
button {
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}
